<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="address" class="com.cognizant.Address">
        <property name="city" value="Patna"/>
    </bean>

    <bean id="customer"
          class="com.cognizant.Customer"
          autowire="byType">

        <property name="name" value="Rishikesh"/>

    </bean>

    <bean id="scopeBean"
          class="com.cognizant.ScopeBean"
          scope="prototype"/>

    <bean id="lifeCycleBean"
          class="com.cognizant.LifeCycleBean"
          init-method="init"
          destroy-method="destroy"/>
    <bean id="course"
          class="com.cognizant.Course">
        <constructor-arg value="Java Full Stack"/>
    </bean>

    <bean id="student"
          class="com.cognizant.Student">
        <constructor-arg value="Rishikesh"/>
        <constructor-arg ref="course"/>
    </bean>
    <bean id="book"
          class="com.cognizant.Book">
        <property name="title" value="Spring Framework"/>
    </bean>

    <bean id="library"
          class="com.cognizant.Library">

        <property name="name" value="Central Library"/>
        <property name="book" ref="book"/>

    </bean>



</beans>